body
{
	background-image: url("bg.jpg");
	background-repeat: repeat;
}
.container-fluid
{
	margin-left: 4.66%;
}
.
.jumbotron
{
background-color: #f9eded;
}

img
{
	margin: 1.66%;
	float: left;
}
 